a:link {
    color: #b58900;
}

a:visited {
    color: #cb4b16;
}

a:hover {
    color: #cb4b16;
}

a:active {
    color: #cb4b16;
}

button {
    padding: 0;
    border: 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font: 1rem Arial, sans-serif;
}
#header {
    display: flex;
    flex: 0 0 3rem;
    flex-direction: row;
    line-height: 3rem;
}
#title {
    flex: auto;
    font-size: 2rem;
    padding-left: 2rem;
}
#username {
    flex: 0 0 auto;
    padding: 0 1rem 0 1rem;
}
#body {
    display: flex;
    flex-direction: row;
    flex: auto;
}
#selection {
    flex: 0 0 10rem;
}
#pull-requests {
    flex: auto;
    padding: 0.5rem;
}

.menu-list-item-base {
    margin: 0.5rem 0 0.5rem 0;
    line-height: 3rem;
    display: block;
    width: 100%;
}
.menu-list-item-selected {
    color: #268bd2;
}
.menu-list-separator {
    width: 50%;
    margin: 0 auto;
    border: 0.1rem solid;
}

.pr-header-container {
    text-align: left;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.pr-data-container {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 0.1rem solid;
    border-bottom: 0.1rem solid;
}
.pr-table {
    width: 100%;
    border-collapse: collapse;
}
.pr-image-container {
    width: 4rem;
}
.pr-image {
    height: 3rem;
    width: 3rem;
}
.pr-repo-name-container {
    width: 15rem;
}
.pr-name-container {

}
.pr-name {
 
}
.pr-last-push-container {
    width: 12rem;
}

.empty-message {
    text-align: center;
    font-size: 5rem;
    padding: 1rem;
}